page-home {
  ion-col.bar-col {
    flex: 0 0 4px;
    padding:0;
    margin-right:10px;
  }

 .card-icon-col {
    flex: 0 0 30px;
    padding:0;
    margin-right:4px;
    align-self: center;
  }

  ion-item {
    padding: 0;
  }

  .item-inner{
    padding: 0;
  }

  .item-md.item-block .item-inner {
    padding: 0;
  }
  
  .mm-card-outter{
    padding: 0;
  }

  .mm-card-inner {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
      border-radius: 1px;
      padding: 1px;
      background:'#80FFFFFF';      
      margin: 3px;
      vertical-align: top;
  }

  @media screen and (min-width: 300px) {
      .mm-card-outter {
          width: 100%;
      }
  }
  @media screen and (min-width: 500px) {
      .mm-card-outter {
          width: 50%;
      }

      .alert-wrapper {
         min-width:500px;
      }
  }
  @media screen and (min-width: 1000px) {
      .mm-card-outter {
          width: 33%;
    }    
  }


}
