<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >
      <div style='color:black'>
      Home
      </div>
      </ion-title>
  </ion-navbar>
   <ion-toolbar>
            
      <ion-grid>
        <ion-row>
          <ion-col>
          <ion-searchbar></ion-searchbar>   
        </ion-col>
        <ion-col>
          <button (click)='click()'>Add</button>
          </ion-col>
        </ion-row>    
        </ion-grid>
        
       </ion-toolbar>
</ion-header>

<ion-content (window:resize)="onResize()">    
      <ion-list style='background-color: pink' [virtualScroll]="filteredData">    
        <ion-item *virtualItem="let item" class='mm-card-outter' approxItemHeight='77px'>      
          <div class='mm-card-inner'> 
            <ion-grid>
              <ion-row>
                <ion-col class='bar-col' [style.background-color]='item.colour'></ion-col>
                <ion-col class='card-icon-col'>              
                  <img width="40" height="40" [src]='item.image'/>
                </ion-col>
                <ion-col class='mm-card-main-data-col'>
                  <div><b>{{item.item1.description}}</b></div>
                  <div >{{item.item2.description}}</div>              
                </ion-col>
              </ion-row>
            </ion-grid>
            </div>
          </ion-item>          
    </ion-list >      
</ion-content>
