// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Remove the lines under the input forms. I assume we want it gone everywhere..
// Soln found at https://forum.ionicframework.com/t/how-to-disable-input-form-validation/54666/2
.item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
 }

 .menu-icon {
   padding:10px !important;
   border-radius: 0 !important;
 }
 
// Hamburber menu 
.bar-button-menutoggle {
  color: white;
}

// Eg close button
.bar-button-clear {
  color:white
}

ion-header#side-menu-header.header.header-ios::after {
  background-image: none;  
  border-bottom: 0
}


.toolbar-title {
  color:white;
};

// Turn off upper case for button text
.button {
  text-transform: none;
}
.back-button {
  color: white;
}

 ion-col.status-col {
    flex: 0 0 4px;
    padding:0;
    margin-right:10px;
  }

 .card-icon-col {
    flex: 0 0 30px;
    padding:0;
    margin-right:4px;
    align-self: center;
  }

 .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    } 

  .transparent {
      background: rgba(255, 255, 255, 0.1);
  }
  
  .mm-filter-col {
    flex: 0 0 50px;
    padding : 0;
  }

  .mm-search-row {
    align-items:center;
  }

    // iOS search bar does not look right without some edge padding (looks truncated)
  .ios {
    .mm-card-search-bar {
      padding-left: 1;
      padding-right: 1;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

.md {
  .mm-card-search-bar {
     padding : 0;
     padding-right: 5px;
  }

  .mm-card-searchbar-col {
    padding : 0;
  }
}
  
 // Pitram cards
 // The inner card is what we see. We use an outter card to we can set the widths to exactly fix the width
 // of the page
  .mm-card-inner {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
      border-radius: 1px;
      padding: 1px;
      background:'#80FFFFFF';      
      margin: 3px;
      vertical-align: top;
  }


  // This is the width we adjust. The inner card sits in here.
  .mm-card-outter {
      display: inline-block;
      background :transparent; 
      vertical-align: top;
  }

  .mm-card-outter ion-label {
    margin:0;
    padding:0;
  }

  .mm-card-page-content {
    height: 100%; 
    display: flex;
    flex-direction: column;
    background-color:white;
  }

 .mm-card-inner-scroll {
   flex-grow: 2    
  } 

  .mm-card-text {
    white-space: nowrap;     
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  // Make the width small to override the default 100%. This keep the column  
  // in the same row for long text
  .mm-card-main-data-col{
    width:1%;
  }
 
  @media screen and (min-width: 300px) {
      .mm-card-outter {
          width: 100%;
      }
  }
  @media screen and (min-width: 500px) {
      .mm-card-outter {
          width: 50%;
      }

      .alert-wrapper {
         min-width:500px;
      }
  }
  @media screen and (min-width: 1000px) {
      .mm-card-outter {
          width: 33%;
    }    
  }

  /*
  Adjust the height of a popup dialog with radio buttons, as used in UserMessageService.presentOptionsAlert 
  Without these the vertical could be smaller than needed, and the phone in landscape was actually too big
 */
   @media screen and (min-height: 600px) {
      .alert-md .alert-ios        
      .alert-checkbox-group,
      .alert-radio-group  {
        max-height: 350px;
      }
  }

   @media screen and (max-height: 400px) {
      .alert-md .alert-ios        
      .alert-checkbox-group,
      .alert-radio-group  {
        max-height: 180px;
      }
   }

    @media screen and (max-height: 350px) {
      .alert-md .alert-ios        
      .alert-checkbox-group,
      .alert-radio-group  {
        max-height: 140px;
      }
  }

